
    .container{
      flex: 1;
      margin-top: 8;
      background-color: 'grey';
    }
    .box {
      width: 50;
      height: 50;
    }
    .row {
      flex-direction: 'row';
      flex-wrap: 'wrap';
    }
    .button {
      /* paddingHorizontal: 8;
      paddingVertical: 6; */
      border-radius: 4;
      background-color: 'oldlace';
      align-self: 'flex-start';
      /* marginHorizontal: '1%'; */
      margin-bottom: 6;
      min-width: '48%';
      text-align: 'center';
    }
    .selected {
      background-color: 'coral';
      border-width: 0;
    }
    .buttonLabel {
      font-size: 12;
      font-weight: '500';
      color: 'coral';
    }
    .selectedLabel{
      color: 'white';
    }
    .label {
      text-align: 'center';
      margin-bottom: 10;
      font-size: 24;
    }
